*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:aliceblue;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 800px;
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.card{
    width: 150px;
    height: 200px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.3s ease;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 15px 35px -5px rgba(0, 0, 0, 0.8);
}

.card .icon{
    background: #233;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card .description{
    text-align: center;
    padding: 10px;
}

.description p{
    color: #b0b0ba;
    padding: 5px;
}

.description h4{
    text-transform: uppercase;
}

@media (max-width: 1000px){
    .container{
        flex-direction: column;
        align-items: center;
        margin-top: 200px;
        align-content: center;
        
    }

    .card{
        width: 20vh;
    }

}

/* Variables */
:root {
    --background-color: aliceblue;
    --primary-color: #233;
    --text-color: #b0b0ba;
}

/* Comentarios Descriptivos */
/* Tarjetas */
.card {
    background-size: cover;
}

input {
    display: none;
}

input:checked + label {
    width: 50vh;
    height: 70vh;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

/* Imágenes de Fondo */
.card[for="c1"] {
    background-image: url(imagenes/linkedin-img.png);
}

.card[for="c2"] {
    background-image: url(imagenes/github-img.png);
}

.card[for="c3"] {
    background-image: url(imagenes/ig-img.png);
}

.card[for="c4"] {
    background-image: url(imagenes/X_icon.jpg);
}

.card[for="c5"] {
    background-image: url(imagenes/images.png);
}
