*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(imagenes/fondo1.jpg);
  color: #eee;
  box-sizing: border-box;
}

.outer-wrapper {
  width: 60%;
  margin: 50px auto;
}

.s-wrap {
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 55%;
  position: relative;
  background-color: #efefe8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 2%;
}
.s-wrap > input {
  display: none;
}
.s-wrap .s-content {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 100%;
  font-size: 0;
  list-style: none;
  transition: transform 1s;
}
.s-wrap .s-item {
  display: inline-block;
  width: 20%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.s-wrap .s-item-1 {
  background-image: url("imagenes/porta1\ \(1\).jpg");
}
.s-wrap .s-item-2 {
  background-image: url("imagenes/porta2.jpg");
}
.s-wrap .s-item-3 {
  background-image: url("imagenes/porta3.jpg");
}
.s-wrap .s-item-4 {
  background-image: url("imagenes/porta4.jpg");
}


.s-type-1 .s-control {
  position: absolute;
  bottom: 18px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  transition-timing-function: ease-out;
}
.s-type-1 .s-control > label[class^="s-c-"] {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #999;
  background-color: #efefe8;
  cursor: pointer;
}
.s-type-1 .s-nav label {
  display: none;
  position: absolute;
  top: 50%;
  padding: 5px 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.s-type-1 .s-nav label::before, .s-type-1 .s-nav label::after {
  content: "";
  display: block;
  width: 8px;
  height: 24px;
  background-color: #fff;
}
.s-type-1 .s-nav label::before {
  margin-bottom: -12px;
}
.s-type-1 .s-nav label.left {
  left: 20px;
}
.s-type-1 .s-nav label.left::before {
  transform: rotate(45deg);
}
.s-type-1 .s-nav label.left::after {
  transform: rotate(-45deg);
}
.s-type-1 .s-nav label.right {
  right: 20px;
}
.s-type-1 .s-nav label.right::before {
  transform: rotate(-45deg);
}
.s-type-1 .s-nav label.right::after {
  transform: rotate(45deg);
}
.s-type-1 #s-1:checked ~ .s-content {
  transform: translateX(0%);
}
.s-type-1 #s-1:checked ~ .s-control .s-c-1 {
  background-color: #333;
}
.s-type-1 #s-1:checked ~ .s-nav .s-nav-1 {
  display: block;
}
.s-type-1 #s-2:checked ~ .s-content {
  transform: translateX(-20%);
}
.s-type-1 #s-2:checked ~ .s-control .s-c-2 {
  background-color: #333;
}
.s-type-1 #s-2:checked ~ .s-nav .s-nav-2 {
  display: block;
}
.s-type-1 #s-3:checked ~ .s-content {
  transform: translateX(-40%);
}
.s-type-1 #s-3:checked ~ .s-control .s-c-3 {
  background-color: #333;
}
.s-type-1 #s-3:checked ~ .s-nav .s-nav-3 {
  display: block;
}
.s-type-1 #s-4:checked ~ .s-content {
  transform: translateX(-60%);
}
.s-type-1 #s-4:checked ~ .s-control .s-c-4 {
  background-color: #333;
}
.s-type-1 #s-4:checked ~ .s-nav .s-nav-4 {
  display: block;
}
.row{
  background-color:transparent;
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 3%;
}
.col-4 img {
  min-height: 2vh;
  max-width: 100%; /* La imagen no será más ancha que el contenedor */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
  border-radius: 10%;
}


@keyframes slider-animation {
  0%,
    7% {
    transform: translateX(0%);
  }
  12.5%,
    19.5% {
    transform: translateX(-20%);
  }
  25%,
    32% {
    transform: translateX(-40%);
  }
  37.5%,
    44.5% {
    transform: translateX(-60%);
  }
  50%,
    57% {
    transform: translateX(-80%);
  }
  62.5%,
    69.5% {
    transform: translateX(-60%);
  }
  75%,
    82% {
    transform: translateX(-40%);
  }
  87.5%,
    94.5% {
    transform: translateX(-20%);
  }
}

/*AGENDAR USUARIO*/

.agenda {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(imagenes/fondo1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}

.container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: 20px;
  gap: 10px;
  width: 1000px;
  margin-top: 10%
}

.box-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.box-info > h1 {
  text-align: left;
  letter-spacing: 5px;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.data > p {
  font-size: 1rem;
}

.data > p > i {
  color: crimson;
  margin-right: 10px;
  font-size: 25px;
}

.links {
  display: flex;
  gap: 15px;
}

.links > a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  background: crimson;
  text-align: center;
  transition: 1s;
}

.links > a > i {
  color: #fff;
  line-height: 40px;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.input-box {
  position: relative;
}

.input-box > input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: 0.3s;
  color: #fff;
}

.input-box > input:focus,
.input-box > textarea:focus {
  border-bottom: 3px solid crimson;
  animation: shake 0.2s;
}

.input-box > input::placeholder,
.input-box > textarea::placeholder {
  color: #a3a3a3;
}

.input-box > input:focus::placeholder,
.input-box > textarea:focus::placeholder {
  color: transparent;
}

.input-box > textarea {
  width: 100%;
  height: 130px;
  background: rgba(192, 111, 111 ,0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: 0.3s;
  color: #fff;
  padding: 10px;
  outline: none;
}

.input-box > i {
  color: rgba(255, 252, 252, 0.3);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  transition: 0.3s;
}

.input-box > input:focus ~ i {
  color: crimson;
}

form > button {
  background: crimson;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px;
  transition: 0.2s;
}

form > button:hover,
.links > a:hover {
  background: rgb(150, 13, 40);
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .box-info {
    gap: 15px;
  }
  .box-info > h1 {
    font-size: 1.5rem;
  }
}

/*BLOG*/
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: rgb(255, 255, 255);
  margin-left: 15%;
  margin-right: 15%;
  border-style:double ;
  color: #000000;
  
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
  
}


.fakeimg {
  background-color: #502222;
  width: 100%;
  padding: 20px;
  object-fit: cover; 
  max-width: 100%;
}


.card {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}





@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
/* Servicios*/
.contenedor{
  min-height: 100vh;
  width: 100%;
}

.service-wrappe{
  padding: 5% 8%;
}

.servicio{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-servicio{
  color: #fff;
  font-size: 5rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: transparent;
  letter-spacing: 4px;
  background-color: rgb(4, 52, 83);
  background: linear-gradient(8deg,rgba(8,52,83,1) 0%,rgba(0,230,173,1)41%, rgba(41,17,45,1)100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.titulo-servicio::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  height: 8px;
  width: 80%;
  border-radius: 8px;
  background-color
  : rgba(255, 255, 255, .05);
}

.titulo-servicio span{
  position: absolute;
  top: 100%;
  left: 10%;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #72e2ae;
  animation: anim 3s linear infinite;
}

@keyframes anim{
  95%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    left: 88%;
  }
}

.cartas{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  margin-top: 80px;
}
.carta{
  height: 350px;
  width: 370px;
  background-color: #1c2335;
  padding: 3% 8%;
  border: 0.2px solid rgba(114,226,174,0.2);
  border-radius: 8px;
  transition: .6s;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.carta:after{
  content: "";
  position: absolute;
  top: 150%;
  left: -200px;
  width: 120%;
  transform: rotate(50deg);
  background-color: #fff;
  height: 18px;
  filter: blur(30px);
  opacity: 0.5;
  transition: 1s;
}
.carta:hover:after{
  width: 225%;
  top: -100%;
}
.carta j{
  color:#72e2ae;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 4.8rem;
}

.carta h2{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.carta p{
  text-align: left;
  width: 100%;
  margin: 12px 0;
  color: rgba(255, 255, 255, .6);

}
.carta:hover{
  background-color: transparent;
  transform: translateY(-8px);
  border-color: #00ff37;
}

.carta:hover j{
  color: #00ff37;
}

@media screen and (max-width: 900px) {
  .titulo-servicio {
      font-size: 2rem; /* Reducir aún más el tamaño del texto para pantallas más pequeñas */
  }

  .cartas {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajustar el diseño de la cuadrícula para pantallas más pequeñas */
  }

  .carta {
      padding: 3% 5%; /* Reducir el relleno aún más para pantallas más pequeñas */
  }

  .carta j {
      font-size: 3rem; /* Reducir aún más el tamaño del ícono para pantallas más pequeñas */
  }

  .carta h2 {
      font-size: 1.5rem; /* Reducir aún más el tamaño del título para pantallas más pequeñas */
  }

  .carta p {
      font-size: 0.9rem; /* Reducir aún más el tamaño del texto para pantallas más pequeñas */
  }
}

/*carta presentacion*/
.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
  color: #000000;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}

/*FOOTER*/

.footer ul {
  display: flex;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
}

@media (min-width: 500px) {
  .footer ul {
    grid-auto-flow: column;
  }
}

.footer a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

.footer a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

.footer li:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.footer li:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}

/* below is just for demo styling */

.footer {
  display: flex;
  height: 10vh;
  width: 100%;
  background-color: #002a38;
  line-height: 1.3;
  font-family: Menlo, monospace;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
