<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="Stylesheet" href="x{% static 'css/bootstrap.min.css' %}">
    <link rel="Stylesheet" href="x{%static 'css/custom.css'%}">
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <img src="imagenes/icono.svg" alt="Bootstrap" width="30" height="24">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="proyectos.html">Proyectos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="servicios.html">Servicios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog.html">Blog</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="Agenda.html">Agendar</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <main>
      <div class="Agenda">
        <div class="container">
          <div class="box-info">
            <h1>RESERVA CON NOSOTROS</h1>
            <div class="links">
              <img class="imgagenda" src="imagenes/imagen_agendar.png" alt="bootstrap" width="70%" >
            </div>
          </div>
          <form id="formulario">
            <div class="input-box">
              <input type="text" placeholder="NOMBRE Y APELLIDO" name="name" id="name">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="input-box">
              <input type="number" placeholder="TELÉFONO" name="numero" id="numero">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="input-box">
              <input type="email" placeholder="CORREO ELECTRONICO" name="email" id="email">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="input-box"> 
              <textarea cols="30" rows="10" placeholder="ESCRIBE TU MENSAJE"></textarea> 
            </div>
            <row>   
              <div class="col-12 mb-2  box">
                <label for="">Seleccione Especialista</label>
              </div>
              <div class="col mb-3">
                <div class="form-check form-check-inline animate__animated animate__fadeIn">
                  <input class="form-check-input animate-fade" type="radio" value="Antonio Lankin" name="optEsp" id="optEsp1">
                  <label class="form-check-label" for="optEsp1">
                    Antonio Lankin
                  </label>
                </div>
                <div class="form-check form-check-inline animate__animated animate__fadeIn">
                  <input class="form-check-input animate-fade" type="radio" value="Bastian Carcamo" name="optEsp" id="optEsp2">
                  <label class="form-check-label" for="optEsp2">
                    Bastian Carcamo
                  </label>
                </div>
                <div class="form-check form-check-inline animate__animated animate__fadeIn">
                  <input class="form-check-input animate-fade" type="radio" value="Oscar Oviedo" name="optEsp" id="optEsp3">
                  <label class="form-check-label" for="optEsp3">
                    Oscar Oviedo
                  </label>
                </div>
              </div>
            </row>
            <div class="date">
              <input type="date" id="datepicker" required placeholder="fecha">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div id="calendar-container"></div>        
            <br>
            <button type="submit" id="submitButton">ENVIAR MENSAJE</button>
          </form>
          
        </div>
      </div>
    
    </main>
    <footer>
      <div class="footer">
        <ul>
          <li><a href="#">X</a></li>
          <li><a href="#">Linkedn</a></li>
          <li><a href="#">Email</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Github</a></li>
          <li>
            <p>👋</p>
          </li>
        </ul>
      </div>
    </footer>
  </header>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
</body>
</html>
