<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <img src="{% static 'img/icono.svg' %}" alt="Bootstrap" width="30" height="24">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'proyectos' %}">Proyectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'servicios' %}">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'blog' %}">Blog</a>
                        </li>
                        {% if perms.blog.add_servicio %}
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'listar_servicio' %} ">CRUD Servicios</a>
                        </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                            </li>
                            <li >
                              <a class="nav-link" href="#">@{{ user.username }}</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="header">
            <h2>Novedades</h2>
        </div>
        
        <div class="row">
            <div class="leftcolumn">
                <div class="card">
                    <h2>Tales of Runes</h2>
                    <h5> 4/04/2024 (En desarrollo)</h5>
                    <img src="{% static 'img/juego.jpeg' %}" alt="Descripción de la imagen 1">
                    <p>Tales of Runes es un juego mmorpg en estilo 8 bits</p>
                </div>
                <div class="card">
                    <h2>Software de Gestión de Inventario</h2>
                    <h5>3/02/2024 (En desarrollo)</h5>
                    <img src="{% static 'img/inventario.jpeg' %}" alt="Descripción de la imagen 2">
                    <p>Software orientado a la gestión de inventario y el manejo de reportes</p>
                </div>
            </div>
            <div class="rightcolumn">
                <div class="card">
                    <h2>Acerca del blog</h2>
                    <img src="{% static 'img/pregunta.jpeg' %}" alt="Descripción de la imagen 3">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, ipsum..</p>
                </div>
                <div class="card">
                    <h6>Publicaciones pasadas</h6>
                    <img src="{% static 'img/lado1.jpeg' %}" alt="Descripción de la imagen 4"><br>
                    <img src="{% static 'img/lado2.jpeg' %}" alt="Descripción de la imagen 5"><br>
                    <img src="{% static 'img/lado3.jpeg' %}" alt="Descripción de la imagen 6">
                </div>
            </div>
        </div>

        <footer>
            <div class="footer">
                <ul>
                    <li><a href="#">X</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">GitHub</a></li>
                    <li><p>👋</p></li>
                </ul>
            </div>
        </footer>
    </main>
</body>
</html>
