<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <img src="{% static 'img/icono.svg' %}" alt="Bootstrap" width="30" height="24">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'index' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'proyectos' %}">Proyectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'servicios' %}">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                        </li>
                        {% if perms.blog.add_servicio %}
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'listar_servicio' %} ">CRUD Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'listar_profesional' %} ">CRUD especialistas</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'listar_agenda' %} ">CRUD Agenda</a>
                          </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                            </li>
                            <li >
                              <a class="nav-link" href="#">@{{ user.username }}</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="card">
        <card class="card-body">
            <h2>Listado de agenda</h2>
            <hr>
            <table class="table table-striped table-hover table-responsive-sm">
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Fecha</th>
                    <th>Mensaje</th>
                    <th>Especialista</th>
                    <th>Servicio</th>
                    <th>opciones</th>
                </tr>
        
                {% for p in agendar %}
                    <tr>
                        <td>{{ p.nombre | title }}</td>
                        <td>{{ p.Telefono }}</td>
                        <td>{{ p.correo | title }}</td>
                        <td>{{ p.fecha  }}</td>
                        <td>{{ p.mensaje | title }}</td>
                        <td>{{ p.especialista | title }}</td>
                        <td>{{ p.servicio | title }}</td>
                        <td>
                            <a href="{% url 'modificar_agenda' p.id%}" class="btn btn-info btn-sm">Modificar</a>
                            <a href="{% url 'eliminar_agenda' p.id%}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                    
                {% endfor %}
                
            </table>
            <hr>
            
        </card>
    </div>