<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <img src="imagenes/icono.svg" alt="Bootstrap" width="30" height="24">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="proyectos.html">Proyectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="servicios.html">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="blog.html">Blog</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="Agenda.html">Agendar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="contenedor">
            <div class="service-wrapper">
                <div class="servicio">
                    <h1 class="titulo-servicio">Nuestros servicios<span></span></h1>
                    <div class="cartas">
                        <div class="carta" data-mensaje="Servicios de soluciones informaticas">
                            <j class="fa-brands fa-chromecast"></j>
                            <h2>Soluciones informáticas</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore placeat explicabo ab, sit eius quisquam dolore temporibus ea ipsam minus.</p>
                        </div>
                        <div class="carta" data-mensaje="Servicios de gestion y base de datos">
                            <j class="fa-solid fa-layer-group"></j>
                            <h2>Base de datos</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore placeat explicabo ab, sit eius quisquam dolore temporibus ea ipsam minus.</p>
                        </div>
                        <div class="carta" data-mensaje="Servicios de diseño web">
                            <j class="fa-solid fa-user-group"></j>
                            <h2>Diseño web</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore placeat explicabo ab, sit eius quisquam dolore temporibus ea ipsam minus.</p>
                        </div>
                        <div class="carta" data-mensaje="Asesorias para empresas y particulares">
                            <j class="fa-solid fa-desktop"></j>
                            <h2>Asesoría informática</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore placeat explicabo ab, sit eius quisquam dolore temporibus ea ipsam minus.</p>
                        </div>
                        <div class="carta" data-mensaje="Creacion y desarrollo de videojuegos">
                            <j class="fa-solid fa-gamepad"></j>
                            <h2>Videojuegos</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore placeat explicabo ab, sit eius quisquam dolore temporibus ea ipsam minus.</p>
                        </div>
                        <div class="carta" data-mensaje="Otros">
                            <j class="fa-solid fa-gear"></j>
                            <h2>Otros</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore placeat explicabo ab, sit eius quisquam dolore temporibus ea ipsam minus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <ul>
                <li><a href="#">X</a></li>
                <li><a href="#">LinkedIn</a></li>
                <li><a href="#">Email</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">GitHub</a></li>
                <li><p>👋</p></li>
            </ul>
        </div>
    </footer>

    <!-- Bootstrap Modal -->
   
   <!-- Bootstrap Modal -->
<div class="modal" id="bootstrapModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <a href="Agenda.html" class="btn btn-primary">Agendar</a>
            </div>
        </div>
    </div>
</div>


    <script src="main.js"></script>
</body>
</html>
